@font-face {
  font-family: "IBM MDA";
  src: url("Web437_IBM_MDA.woff");
}

body {
  background: black;
  color: #aaa;
  font-family: "IBM MDA";
  font-size: 2.5vw;
  font-weight: normal;
  padding: 2ch;
}

#logwrap,
body {
  overflow: hidden;
}

@keyframes cursor {
  0%,
  49.99% {
    color: inherit;
  }
  50%,
  100% {
    color: transparent;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes boot {
  0% {
    transform: scaleY(0.01);
    opacity: 0;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}

.boot {
  animation: boot 0.35s ease-out;
  animation-delay: 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 0;
}

.starting {
  animation: appear 0.01s linear;
  animation-delay: 10s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 0;
}

p {
  margin-bottom: 0;
  margin-top: 0;
  line-height: 100%;
}

p:empty {
  display: inline-block;
  min-height: 56px;
}

p.invisible {
  color: #ddd0;
}

#logwrap {
  min-height: 3ch;
}

body p:last-child:after,
#logwrap.empty::after {
  content: "_";
  color: #ddd;
  animation-name: cursor;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}
